__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
.venv/
.env
*.env
.DS_Store
.vscode/
.idea/
*.sqlite3
*.log
instance/
*.so
.ipynb_checkpoints
*.egg-info/
dist/
build/
*.sql
*.sql.gz
htmlcov/
coverage.xml
*.cover
.cache
nosetests.xml
test-output/
.pytest_cache/
requirements.txt.bak
