.DS_Store
.AppleDouble
.LSOverride
Icon
._*
Thumbs.db
ehthumbs.db
.Spotlight-V100
.Trashes
.vscode/
.idea/
xcuserdata/
*.xcuserstate
.rubyMine/
node_modules/
*.swp
*.swo

config.py
__pycache__/
*.pyc
*.pyo
andrew.txt
cso.json